hr {
  width      : 100%;
  height     : 1px;
  border     : 0;
  background : rgb(112, 112, 112);
}

#switch {
  position : absolute;
  top      : 10;
  right    : 10;
}

.btn.btn-link,
.btn.btn-link.active,
.btn.btn-link:active {
  color       : #007EA7;
  font-weight : bold;
}

.btn.btn-link:focus,
.btn.btn-link:hover {
  color : #003459;
}

.form-switch input:checked+.form-icon {
  border-color : #007EA7;
  background   : #007EA7;
}

.form-switch input:focus+.form-icon {
  border-color : #007EA7;
}

.main-container {
  display         : flex;
  height          : 100vh;
  padding         : 0em 0em 0em 0em;
  align-items     : center;
  flex-direction  : row;
  justify-content : center;
}

.left-side {
  display : relative;
  padding : 0em 2em 0em 3em;
}

.right-side {
  display         : flex;
  padding-right   : 3em;
  padding-left    : 2em;
  align-items     : center;
  flex-direction  : column;
  justify-content : center;
}

.main-header {
  font-size : 5em;
}

.selector {
  display     : flex;
  text-align  : center;
  align-items : center;
  font-size   : 2em;
}

#label {
  padding-right : 0.4em;
  font-size     : 0.5em;
}

.high-end_header {
  font-weight : 400;
}

.links {
  text-align : center;
}

.links>a {
  color           : rgb(112, 112, 112);
  text-decoration : underline;
  font-size       : 1.0em;
}

.links_small {
  font-size : 0.9em;
}

@media
  only screen
  and (max-width : 1000px) {
  .main-container {
    height         : auto;
    padding-top    : 1em;
    flex-direction : column;
  }

  .main-header {
    font-size : 3.4em;
  }

  .left-side {
    padding : 0em 2em 0em 2em;
    order   : 2;
  }

  .right-side {
    padding-right : 2em;
    padding-left  : 2em;
    order         : 1;
  }
}

@media
  only screen
  and (min-width : 1400px) {
  .main-container {
    height        : 100vh;
    padding       : 5em 16em 5em 16em;
    align-content : center;
  }
}

.content {
  display          : none;
  overflow         : hidden;
  background-color : white;
  font-size        : 0.8rem;
}

.content-box {
  display     : flex;
  align-items : center;
}

.label-cust {
  padding-right : 0.4em;
  font-size     : 1em;
}
