hr {
  width: 100%;
  background: rgb(112, 112, 112);
  border: 0;
  height: 1px;
}

#switch{
  position: absolute;
  top:10;
  right:10;
}


.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 2em 0 2em 0;
}

.left-side {
  display: relative;
  padding: 0em 2em 0em 2em;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}

.main-header {
  font-size: 5em;
}

.selector {
  display: flex;
  align-items: center;
  font-size: 2em;
}

#label {
  padding-right: 0.4em;
  font-size: 0.5em;
}

.high-end_header {
  font-weight: 400;
}

.links {
  text-align: center;
}

.links>a {
  color: rgb(112, 112, 112);
  text-decoration: underline;
  font-size: 1.0em;
}

.links_small {
  font-size: 0.9em;
}

@media only screen and (max-width: 834px) {
  .main-container {
    display: grid;
    height: auto;
    grid-template-areas: "title""paragraph";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding-top: 1em;
  }

  .main-header {
    font-size: 3.4em;
  }

  .left-side {
    grid-area: paragraph;
  }

  .right-side {
    grid-area: title
  }
}
