<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Typography.css</title>
  <meta name="Hung Tran" content="Demo">
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

  <link rel="stylesheet" href="typography.css">
  <link rel="stylesheet" href="style.css">

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

  <div class="main-container" id="app">
    <div v-bind:class="[leftSideClass, selected]">
      <h1>THIS IS HEADER 1</h1>
      <h2>Header 2</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>

    <div class="right-side">
      <h1 class="main-header high-end_header">Typography.css</h1>
      <br>
      <h5 class="star-up_paragraph">Plug and use CSS fonts</h5>
      <br />
      <div class="selector">
        <label class="star-up_paragraph" id="label">
          Style:
        </label>
        <select v-model="selected" class="form-select" >
          <option v-for="option in options" v-bind:value="option.value" >
             {{ option.text }}
          </option>
        </select>
      </div>
      <br />

      <hr/>
      <br />

        <p class="links star-up_paragraph">
          <a href="https://raw.githubusercontent.com/hungvt13/typography.css/master/typography.css">Download Typography.css </a>
          or
          <a href="https://github.com/hungvt13/typography.css">View on GitHub</a>
        </p>
        <p class="links links_small star-up_paragraph">
          Other works from
          <a href="">Hung Tran</a>
        </p>

    </div>

  </div>

  <script src="index.js"></script>
</body>

</html>
